.productImage{
    border: 0.21rem;
    border-style: solid;
    border-color: $grey;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.img {
    width: 100%;
}

.productImageLabel{
    background: white;
    opacity: 0.75;
    color: $dark-grey;
}